
    <!-- *ngIf="opnName !='Runner & Riser Cutting' && opnName != 'Fettling' " -->
    <!-- && opnName == 'Metal Charging & Melting' -->
    <div class="container" >
        <!-- *ngIf="opnName == 'Incoming Inspection of Aluminium Ingot'" -->
        <div id="componentID">
            <table style="width:100%;  height: 50px; border: 1px solid black;font-size: 20px;border-collapse: collapse;">
                <tr>
                  <th rowspan="5" colspan="4" style="text-align: center; width:12.5%;"><img src="assets/vjp3.png"
                      height="50" width="120"></th>
                  <td
                    style="width: 62.5%; text-align: center;  border: 1px solid black; border-collapse: collapse; padding: 2px;font-size: 100%;"
                    rowspan="5" colspan="8"><B> DIE STARTUP CHECK SHEET</B></td>
                  <td colspan="1" style="width:12.5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    DOC.NO
                  </td>
                  <td colspan="2" style="width:12.5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    QA/R/42</td>
                </tr>
                <tr>
                  <td colspan="1" style="width:12.5%;border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    REV.NO</td>
                  <td colspan="2" style="width:12.5%;border: 1px solid black; border-collapse: collapse; padding: 2px;">00
                  </td>
                </tr>
                <tr>
                  <td colspan="1" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">DATE
                  </td>
                  <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">
                   27.02.2020</td> 
                   <!-- {{myDate | date: 'dd-MM-yyyy' }} -->
                </tr>
                <tr>
                  <td colspan="1" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">PAGE
                    </td>
                  <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">1 OF 1
                  </td>
                </tr>
                <tr>
                    <!-- <td colspan="1" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">ROUTE CARD
                      NO</td>
                    <th colspan="1" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">{{routeObj.cardNo}}
                    </th> -->
                  </tr>
              
                  <tr style="height: 2rem;">
                    
                    <td colspan="3" align="center">Part Name</td>
                    <!-- <td colspan="3">:</td> -->
                    <td colspan="4"></td>
                    <td colspan="3" align="center">Part No</td>
                    <!-- <td></td>
                    <td colspan="2">:</td>
                    <td></td>
                    <td></td> -->
                    <td colspan="4"></td>
                    </tr>
                  <tr style="height: 2rem;width:5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    
                    <td colspan="3" align="center">Date & Shift</td>
                    <!-- <td colspan="3">:</td> -->
                    <td colspan="3"></td>
                    <td style="width:12%;" colspan="2" align="center">Grade</td>
                    <td style="width:12%;" colspan="2" ></td>
                    <td colspan="2" align="center">Heat No</td>
                    
                    <td colspan="2"></td>
                  </tr>  
                  
                    
                <tr style="height: 2rem;">
                    <td style="width:5%;"><b>S.No</b></td>
                    
                    <td colspan="11" align="center"><b>Specification</b></td>
                
                    <td colspan="3" align="center"><b>Status</b></td>
                </tr>
                
                <tr style="height: 2rem;">
                    <td>1</td>
                    <td colspan="6" align="center">Ensure Dowel pin Availability and its condition</td>
                    <td colspan="5" align="center">Without any Scoring mark</td>
                    <td colspan="3"> </td>
                    
                </tr>
                
                <tr style="height: 2rem;">
                    <td>2</td>
                    <td colspan="6" align="center">Air vent without any blockage</td>
                    <td colspan="5" align="center">Check with air</td>
                    <td colspan="3"> </td>
                    
                </tr>
                
                <tr style="height: 2rem;">
                    <td>3</td>
                    <td colspan="6" align="center">Profile free from damage</td>
                    <td colspan="5" align="center">No Depression/Projection on Surface</td>
                    <td colspan="3"> </td>
                    
                </tr>
                
                <tr style="height: 2rem;">
                    <td>4</td>
                    <td colspan="6" align="center">Dycote cleanup</td>
                    <td colspan="5"align="center">Old Coat Removed Completely</td>
                    <td colspan="3"> </td>
                    
                </tr>
                
                <tr style="height: 2rem;">
                    <td>5</td>
                    <td colspan="6" align="center">Year LOGO with month punch</td>
                    <td colspan="5" align="center">Legibility & without any damage</td>
                    <td colspan="3"> </td>
                    
                </tr>
                <tr style="height: 2rem;">
                    <td>6</td>
                    <td colspan="6" align="center">Assembled Mrchainism</td>
                    <td colspan="5" align="center">Visual</td>
                    <td colspan="3"> </td>
                    
                </tr>
                
                <tr style="height: 2rem;">
                    <td>7</td>
                    <td colspan="6" align="center">Ensure Die closing/Opening/Ejection Working Properly</td>
                    <td colspan="5" align="center">Visual</td>
                    <td colspan="3"> </td>
                    
                </tr>
                <tr style="height: 2rem;">
                    <td>8</td>
                    <td colspan="6" align="center">Ejection Pin condition</td>
                    <td colspan="5" align="center">Without any damage</td>
                    <td colspan="3"> </td>
                    
                </tr>
                <tr style="height: 2rem;">
                    <td>9</td>
                    <td colspan="6" align="center">Die Seating</td>
                    <td colspan="5" align="center">Without any shake</td>
                    <td colspan="3"> </td>
                    
                </tr>
                <tr style="height: 2rem;">
                    <td>10</td>
                    <td colspan="6" align="center">Cylinder Function</td>
                    <td colspan="5" align="center">No oil Leakage/function Properly</td>
                    <td colspan="3"> </td>
                    
                </tr>
                <td style="height:6rem;" colspan="15"><b>Remarks:</b></td>
                <!-- <tr style="height: 2rem;"> -->
                    <!-- <td>.</td>
                    <td></td>
                    <td colspan="2"> </td> -->
                    <!-- <td colspan="2"></td> -->
                <!-- </tr> -->
                <!-- <tr style="height: 2rem;"> -->
                    <!-- <td></td>
                    <td></td>
                    <td colspan="2"></td> -->
                    <!-- <td colspan="2"></td> -->
                <!-- </tr> -->
                <tr>
                    <td  style="text-align: center;" colspan="7"><b>Change History</b></td>
                    <td rowspan="4" colspan="3"></td>
                    <td rowspan="4" colspan="2"></td>
                    <td rowspan="4" colspan="3"></td>
                </tr>

                
                <tr style="height: 2rem;">
                    <td ></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                </tr>
                <tr style="height: 2rem;">
                    <td></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td>00</td>
                    <td colspan="2">27.02.2020</td>
                    <td colspan="2">INITIAL RELEASE</td>
                    <td colspan="2">PREMANANDH.C</td>
                </tr>
                <tr>
                    <td>REV NO</td>
                    <td colspan="2">DATE</td>
                    <td colspan="2">DESCRIPTION</td>
                    <td colspan="2">SIGNATURE</td>
                    <td colspan="2">PREPARED BY</td>
                    <td colspan="3" >VERIFIED BY</td>
                    <td colspan="2">APPROVED BY</td>
                    <!-- <td></td> -->
                </tr>
                

    
    
            </table>
    
    
    
        </div>
        <div class="col-md-12 text-center p-4">
            <button id="singlebutton" name="singlebutton" (click)="printPage()" class="btn btn-primary"> Print </button>
        </div>
    
    </div>

