<div class="container">
    <div id="componentID">
        <table style="width:100%;  height: 50px; border: 1px solid black;font-size: 20px;border-collapse: collapse;">
            <tr>
                <th rowspan="4" colspan="2" style="text-align: center; width:12.5%;"><img src="assets/vjp3.png"
                        height="50" width="120"></th>
                <td style="width: 62.5%; text-align: center;  border: 1px solid black; border-collapse: collapse; padding: 2px;font-size: 100%;"
                    rowspan="4" colspan="6"><B> FLUORESCENT PENETRANT INSPECTION REPORT</B></td>
                <td colspan="2" style="width:12.5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    FORMAT NO
                </td>
                <td colspan="2" style="width:12.5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    QA/PT/R/41</td>
            </tr>
            <tr>
                <td colspan="2" style="width:12.5%;border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    REVISON NO.</td>
                <td colspan="2" style="width:12.5%;border: 1px solid black; border-collapse: collapse; padding: 2px;">00
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">
                    REVISION DATE
                </td>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">
                    {{myDate | date: 'dd-MM-yyyy' }}</td>
            </tr>
            <tr>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">
                    ISSUE DATE</td>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">{{myDate | date: 'dd-MM-yyyy' }}
                </td>
            </tr>
        </table>
        <table style="width: 100%;">
            <tr>
                <td colspan="1" style="width: 20%;">Customer Name</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Purchase Order</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">End Prime User</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Part Description</td>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Part Description</td>
                <td colspan="1" style="width: 20%;"></td>
                <td colspan="1" style="width: 15%;">Date</td>
                <td colspan="1" style="width: 15%;"></td>
                <td colspan="1" style="width: 15%;">Page</td>
                <td colspan="1" style="width: 15%;">1 Of </td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Technique Sheet Number</td>
                <td colspan="1" style="width: 20%;"></td>
                <td colspan="1" style="width: 15%;">Revision</td>
                <td colspan="3" style="width: 45%;"> </td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Drawing Number</td>
                <td colspan="1" style="width: 20%;"></td>
                <td colspan="1" style="width: 15%;">Revision</td>
                <td colspan="3" style="width: 45%;"> </td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Customer Specification</td>
                <td colspan="1" style="width: 20%;"></td>
                <td colspan="1" style="width: 15%;">Revision</td>
                <td colspan="3" style="width: 45%;"> </td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Acceptance Standard</td>
                <td colspan="1" style="width: 20%;"></td>
                <td colspan="1" style="width: 15%;">Revision</td>
                <td colspan="3" style="width: 45%;"> </td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">VEE J PEE Internal Procedure</td>
                <td colspan="1" style="width: 20%;"></td>
                <td colspan="1" style="width: 15%;">Revision</td>
                <td colspan="3" style="width: 45%;"> </td>
            </tr>
            <tr>
                <td colspan="1" style="width: 20%;">Surface Condition</td>
                <td colspan="5" style="width: 80%;"></td>
            </tr>
            <tr class="text_for">
                <td colspan="6" style="width: 100%;">Chemical Details</td>
            </tr>
            <tr class="text_for">
                <td colspan="2" >Material</td>
                <td colspan="2" >Penetrant</td>
                <td colspan="2" >Developer</td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" >Manufacture</td>
                <td colspan="2" ></td>
                <td colspan="2" ></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" >Family Name</td>
                <td colspan="2" ></td>
                <td colspan="2" ></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="2" >Brand Name</td>
                <td colspan="2" ></td>
                <td colspan="2" ></td>
            </tr>
            <tr class="text_for">
                <td colspan="6" >Process Details</td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >Pre Cleaning</td>
                <td colspan="5" ></td>
                
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >Processing</td>
                <td colspan="3" ></td>
                <td colspan="1" >Revision</td>
                <td colspan="1" ></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >Post Cleaning</td>
                <td colspan="5" ></td>
            </tr>
            <tr class="text_for" style="height: 30px;">
                <td colspan="6" >Inspection Details</td>
            </tr>
            <tr class="text_for" style="height: 30px;">
                <td colspan="1" >Parameter</td>
                <td colspan="2" >No.of Parts In a Lot </td>
                <td colspan="1" >Parts Inspected</td>
                <td colspan="1" >Parts Accepted</td>
                <td colspan="1" >Parts Rejected</td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >Quantity</td>
                <td colspan="2" > </td>
                <td colspan="1" ></td>
                <td colspan="1" ></td>
                <td colspan="1" ></td>
            </tr>
            <tr class="noBorder">
                <td colspan="6" >Acceptance Criteria:-</td>
            </tr>
            <tr class="noBorder">
                <td colspan="6" ></td>
            </tr>
            <tr class="bot" >
                <td colspan="6" >Observations:-</td>
            </tr>
            <tr class="noBorder">
                <td colspan="6" ></td>
            </tr>
            <tr class="bot" >
                <td colspan="6" >Remarks:-</td>
            </tr>
            <tr class="noBorder">
                <td colspan="6" ></td>
            </tr>
            <tr class="text_for" style="height: 30px;">
                <td colspan="1" >Inspection Personal</td>
                <td colspan="2" >Certification Level </td>
                <td colspan="2" >Sign & Stamp</td>
                <td colspan="1" >Date of Inspection</td>
            </tr>
            <tr class="text_for" style="height: 100px;">
                <td colspan="1" >Rajesh. R</td>
                <td colspan="2" >Fluorescent Penetrant Testing - Level II Per NAS410 </td>
                <td colspan="2" ></td>
                <td colspan="1" ></td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12 text-center p-4">
    <button id="singlebutton" name="singlebutton" (click)="printPage()" class="btn btn-primary"> Print </button>
</div>