<div class="container">
    <div id="componentID">
        <table style="width:100%;  height: 50px; border: 1px solid black;font-size: 20px;border-collapse: collapse;">
            <tr>
                <th rowspan="4" colspan="2" style="text-align: center; width:12.5%;"><img src="assets/vjp3.png"
                        height="50" width="120"></th>
                <td style="width: 62.5%; text-align: center;  border: 1px solid black; border-collapse: collapse; padding: 2px;font-size: 100%;"
                    rowspan="4" colspan="6"><B> FINAL INSPECTION REPORT</B></td>
                <td colspan="2" style="width:12.5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    Doc.No
                </td>
                <td colspan="2" style="width:12.5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    QA/R/05</td>
            </tr>
            <tr>
                <td colspan="2" style="width:12.5%;border: 1px solid black; border-collapse: collapse; padding: 2px;">
                    Rev.No</td>
                <td colspan="2" style="width:12.5%;border: 1px solid black; border-collapse: collapse; padding: 2px;">01
                </td>
            </tr>
            <tr>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">
                    Date
                </td>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">
                    {{myDate | date: 'dd-MM-yyyy' }}</td>
            </tr>
            <tr>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">
                    Page
                    No</td>
                <td colspan="2" style="width:12.5%;border: 1px solid black;border-collapse: collapse; padding: 2px;">1
                    of
                </td>
            </tr>
        </table>
        
        <table style="width: 100%; ">
            
            <tr>
                <td colspan="3" style="width: 25%;">Customer Name</td>
                <td colspan="4" style="width: 25%;"></td>
                <td colspan="3" style="width: 25%;">Customer PO.NO</td>
                <td colspan="3" style="width: 25%;"></td>
            </tr>
            <tr>
                <td colspan="3" style="width: 25%;">Part Time</td>
                <td colspan="4" style="width: 25%;"></td>
                <td colspan="3">Inspection Date</td>
                <td colspan="3"></td>
            </tr>
            <tr>
                <td colspan="3" style="width: 25%;">Drg No/Rev</td>
                <td colspan="4" style="width: 25%;"></td>
                <td colspan="3" style="width: 25%;">Inspection Report No</td>
                <td colspan="3" style="width: 25%;"></td>
            </tr>
            <tr>
                <td colspan="3" style="width: 25%;">Material Grade</td>
                <td colspan="4" style="width: 25%;"></td>
                <td colspan="3" style="width: 25%;">Invoice No/Date</td>
                <td colspan="3" style="width: 25%;"></td>
            </tr>
            <tr>
                <td colspan="3" style="width: 25%;">Unit of measurement</td>
                <td colspan="4" style="width: 25%;"></td>
                <td colspan="3" style="width: 25%;">Lot Quantity</td>
                <td colspan="3" style="width: 25%;"></td>
            </tr>
            <tr>
                <td colspan="3" style="width: 25%;">Heat No</td>
                <td colspan="4" style="width: 25%;"></td>
                <td colspan="3" style="width: 25%;">Sample Quantity</td>
                <td colspan="3" style="width: 25%;"></td>
            </tr>
            <tr>
                <td colspan="3" style="width: 25%;"></td>
                <td colspan="4" style="width: 25%;"></td>
                <td colspan="3" style="width: 25%;">S.No</td>
                <td colspan="3" style="width: 25%;"></td>
            </tr>
            <tr>
                <td colspan="1">Sr.No</td>
                <td colspan="1">Drg.Sr.No</td>
                <td colspan="1">Description</td>
                <td colspan="1">Specs.</td>
                <td colspan="1">min</td>
                <td colspan="1">max</td>
                <td colspan="1">Measuring Techniques</td>
                <td colspan="1">1</td>
                <td colspan="1">2</td>
                <td colspan="1">3</td>
                <td colspan="1">4</td>
                <td colspan="1">5</td>
                <td colspan="1">Remarks</td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >1</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >2</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >3</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >4</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >5</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >6</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >7</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >8</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >9</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >10</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >11</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >12</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >13</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >14</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >15</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>

            <tr style="height: 30px;">
                <td colspan="1" >16</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >17</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >18</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >19</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >20</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >21</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >22</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >23</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >24</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >25</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >26</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >27</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >28</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >29</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr style="height: 30px;">
                <td colspan="1" >30</td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
                <td colspan="1"></td>
            </tr>
            <tr class="noBorder">
                <td  colspan="13"  >Remarks:-</td> 
                
            </tr>
            <tr class="noBorder">
                <td colspan="13" ></td>
            </tr>
            
            <tr>

                <td colspan="13">Status
                    <input type="checkbox" style="margin-left: 200px;" id="status1" name="accept" value="accept">
                    &nbsp;&nbsp;<label for="status1"> ACCEPTED</label>
                    <input type="checkbox" style="margin-left: 100px;" id="status2" name="caaccept" value="caaccept">
                    &nbsp;&nbsp;<label for="status1"> C/A ACCEPTED</label>
                    <input type="checkbox" style="margin-left: 100px;" id="status3" name="reject" value="reject">
                    &nbsp;&nbsp;<label for="status3"> REJECTED</label>
                </td>
            </tr>
            <tr>
                <td colspan="3">Inspected By</td>
                <td colspan="4"></td>
                <td colspan="3">Approved By</td>
                <td colspan="3"></td>
            </tr>
        </table>
        </div>
</div>
<div class="col-md-12 text-center p-4">
    <button id="singlebutton" name="singlebutton" (click)="printPage()" class="btn btn-primary"> Print </button>
</div>
