<div class="container">
    <div  id="componentID" style="border: 1px solid black; border-collapse: collapse; width: 100%;">
        <table  style="width:100%;  height: 50px; border: 1px solid black;font-size: 20px;border-collapse: collapse;">
            <tr>
                <th rowspan="4" colspan="2" style="text-align: center; width:12.5%;"><img src="assets/vjp3.png"
                        height="50" width="120"></th>
                <td style="width: 62.5%; text-align: center;  border: 1px solid black; border-collapse: collapse; padding: 2px;font-size: 100%;"
                    rowspan="4" colspan="6"><B> HEAT TREATMENT RECORD </B></td>
                    <td colspan="2" style="width:12.5%;  border: 1px solid black; border-collapse: collapse; padding: 2px;">
                        SI.NO:
                    </td>
            </tr>
        </table>
        <div style="border: 1px solid black; border-collapse: collapse; width: 100%;">
        <table style="width: 40%; text-align: right;">
            <tr >
                <td style="width: 20%;" >Date</td>
                <td style="width: 20%;"></td>
            </tr>
            <tr >
                <td style="width: 20%;" >Shift</td>
                <td style="width: 20%;"></td>
            </tr>
            <tr >
                <td style="width: 20%;" >Batch Code</td>
                <td style="width: 20%;"></td>
            </tr>
        </table><br>
       
        <h5>Heat Treatment Cycle Details</h5>
        <table style="width: 100%; text-align: center;">
            <tr >
                <td style="width: 10%;" >Process Type</td>
                <td style="width: 15%;">Operation Name</td>
                <td style="width: 10%;">Temp. Specification</td>
                <td style="width: 10%;">Soaking Period</td>
                <td style="width: 10%;">Furnace on at</td>
                <td style="width: 15%;">Loaded Name & Sign</td>
                <td style="width: 10%;">Temp. Attend at</td>
                <td style="width: 10%;">Completed On</td>
                <td style="width: 10%;">Unloaded By Name & Sign.</td>
            </tr>
            <tr style="height: 50px;">
                <td>T6</td>
                <td>SOLUTIONZING</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table><br>
        <table  style="width: 100%;">
            <tr class="noBorderT">
            <td >
        <h5 style="margin-top:-100px ; ">Quenching Details(If Applicable)</h5>
        <table style="width: 100%; margin-top:0px ; text-align: center;">
            <tr>
                <td colspan="2" style="width: 12%;">Water PH Value</td>
                <td colspan="2" style="width: 12%;">Water Temp.</td>
                <td colspan="2" style="width: 12%;">Quench Time</td>
                <td colspan="2" style="width: 12%;">Quench Duration</td>
                <td rowspan="2" colspan="2" style="width: 12%;">Executed By<br> Name & Sign</td>
            </tr>
            <tr>
                <td colspan="1" style="width: 6%;">Specified</td>
                <td colspan="1" style="width: 6%;">Actual</td>
                <td colspan="1" style="width: 6%;">Specified</td>
                <td colspan="1" style="width: 6%;">Actual</td>
                <td colspan="1" style="width: 6%;">Specified</td>
                <td colspan="1" style="width: 6%;">Actual</td>
                <td colspan="1" style="width: 6%;">Specified</td>
                <td colspan="1" style="width: 6%;">Actual</td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
        </table>
            </td>
            <td >
        <h5>Heat Treatment Load Details</h5>
        <table style="width: 100%; text-align: center;">
            <tr style="height: 30px;">
                <td style="width: 8%;">Component Name</td>
                <td style="width: 8%;">Alloy Grade</td>
                <td style="width: 8%;">Qty</td>
                <td style="width: 8%;">Wt</td>
                <td style="width: 8%;">Hardness in BHN</td>
            </tr>
            <tr style="height: 30px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr style="height: 30px;">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                
        </table>
        </td>
        </tr>
    </table>
    <h5>Breakdown Details(If any)</h5>
    <table style="width: 100%; text-align: center;">
        <tr>
            <td style="width:10%">SI.No</td>
            <td style="width:25%">Type of Furnace</td>
            <td style="width:25%">Breakdown Description</td>
            <td style="width:15%">From</td>
            <td style="width:15%">To</td>
            <td style="width:10%">Duration</td>
        </tr>
        <tr style="height: 30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="height: 30px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table style="width: 100%;">
        <tr>
            <td colspan="2">Conclusion:-
                <input type="checkbox" style="margin-left: 100px;" id="status1" name="accept" value="accept">
                &nbsp;&nbsp;<label for="status1"> ACCEPTED</label>
                <input type="checkbox" style="margin-left: 100px;" id="status2" name="caaccept" value="caaccept">
                &nbsp;&nbsp;<label for="status1"> NOT ACCEPTED</label>
                <input type="checkbox" style="margin-left: 100px;" id="status3" name="reject" value="reject">
                &nbsp;&nbsp;<label for="status3"> REWORK</label>
            </td>
        </tr>
        <tr class="noBorder">
            <td   colspan="2" >Remarks:-</td> 
            
        </tr>
        <tr class="noBorder">
            <td colspan="2" ></td>
        </tr>
        <tr class="bot" >
            <td  colspan="1"></td>
            <td colspan="1" ></td>
        </tr>
        <tr class="bot_top" >
            <td  colspan="1"></td>
            <td colspan="1" ></td>
        </tr>
        <tr class="bot_top" >
            <td  colspan="1"></td>
            <td colspan="1" ></td>
        </tr>
        <tr  class="top">
            <td colspan="1" style="text-align: center;">CHECKED BY</td>
            <td  colspan="1" style="text-align: center;">APPROVED BY</td>
        </tr>
    </table>
    <footer>
       
        <p style="text-align: right; font-size: 12px; padding-right: 10px;">HT/R/01-00</p>
    </footer>
        </div>
   </div>
   <div class="col-md-12 text-center p-4">
    <button id="singlebutton" name="singlebutton" (click)="printPage()" class="btn btn-primary"> Print </button>
</div>
</div>
